<!DOCTYPE html>
<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Amish's blog</a></h1>
		</header>

		<article>
			<h2><a href="">What is Django?</a></h2>
			<p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support.</p>
			<time>published: 03.06.2021, 11:02</time>
		</article>

		<article>
			<h2><a href="">Where did it come from?</a></h2>
			<p>Django was initially developed between 2003 and 2005 by a web team who were responsible for creating and maintaining newspaper websites. After creating a number of sites, the team began to factor out and reuse lots of common code and design patterns. This common code evolved into a generic web development framework, which was open-sourced as the "Django" project in July 2005. 
			Django has continued to grow and improve, from its first milestone release (1.0) in September 2008 through to the recently-released version 3.1 (2020). Each release has added new functionality and bug fixes, ranging from support for new types of databases, template engines, and caching, through to the addition of "generic" view functions and classes (which reduce the amount of code that developers have to write for a number of programming tasks). </p>
			<time>published: 03.06.2021, 11:02</time>
		</article>
	</body>
</html>